/* body {
  font: 14px;
  margin: 20px;
} */

/* ol {
  padding-left: 30px;
} */

/* .list-ul {
  list-style-type: none;
}

.list-source {
  display: inline-block;
  width: 100px;
  margin: 5px 10px;
}

.list-target {
  display: inline-block;
  width: 200px;
  margin: 5px 10px;
}

input[type="text"] {
  width: 100%;
  box-sizing: border-box;
} */
